.ModalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  backdrop-filter: blur(3px);
  background-color: rgb(226 223 223 / 80%);
  z-index: 999;
}

.ModalContent {
  border: 1px solid var(--grey);
  border-radius: 8px;
  background-color: var(--white);
  width: 94%;
  max-height: 97%;
  position: relative;
}

.ModalText {
  font-size: 1.2rem;
  padding: 1.5rem 1rem;
  max-height: 88vh;
  max-height: 88dvh;
  overflow: auto;
}

.PlaceholderText {
  color: var(--grey);
  padding-top: 3%;
}

@media screen and (min-width: 800px) {
  .ModalContent {
    width: 78%;
  }
}

@media screen and (min-width: 1024px) {
  .ModalContent {
    max-width: 600px;
  }
}
