.LoginMenu {
  position: absolute;
  z-index: 999;
  top: 8.5vh;
  top: 8.5dvh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey);
  border-radius: 8px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: var(--subtle-box-shadow-2);
}

.LoginMenu hr {
  margin: 12px 0;
}

.LoginMenu svg {
  color: var(--grey);
  margin-right: 12px;
}

@media screen and (min-width: 800px) {
  .LoginMenu {
    right: 9.5vw;
  }
}

@media screen and (min-width: 1024px) {
  .LoginMenu {
    right: 16.5vw;
  }
}
