:root {
  --orange: #f28c26;
  --blue: #268cf2;
  --grey: #989898;
  --white: #fff;
  --black: #212121;
  --red: #f22626;
  --folder-dropdown-offset: calc(3% + 0.8rem);
  --subtle-box-shadow-1: 2px 2px 10px 4px rgba(152, 152, 152, 0.08);
  --subtle-box-shadow-2: 2px 2px 10px 4px rgba(152, 152, 152, 0.15);
  /* Google Material Design box shadows: */
  --m3-elevation-light-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --m3-elevation-light-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 6px 2px rgba(0, 0, 0, 0.15);
  --m3-elevation-light-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --m3-elevation-light-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --m3-elevation-light-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3),
    0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* reset default button styles */
button {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
}

i {
  text-decoration: none;
}

a {
  color: inherit;
}

body {
  height: 100vh;
  height: 100dvh;
  font-family: "Delius", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

header {
  height: 9vh;
  height: 9dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 3%;
  justify-content: space-between;
}

.header-icons-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

h1 {
  font-weight: 400;
  color: var(--orange);
}

h2 {
  text-align: center;
  font-weight: 300;
}

#list-view-btn,
#cancel-btn {
  font-size: 1.2rem;
}

.login-menu {
  position: absolute;
  z-index: 999;
  top: 7%;
  right: 5vw;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey);
  border-radius: 8px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: var(--subtle-box-shadow-1);
}

.login-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-menu-item:hover svg {
  cursor: pointer;
  color: var(--orange);
}

.login-menu-item button:hover {
  cursor: pointer;
  color: black;
}

.login-menu hr {
  margin: 12px 0;
}

.login-menu svg {
  color: var(--grey);
  margin-right: 12px;
}

#cancel-btn.close-auth-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5% 2.5%;
  border: none;
  box-shadow: none;
}

#text-container {
  height: 82vh;
  height: 82dvh;
  width: 100%;
  display: grid;
  place-items: center;
  align-items: start;
  position: relative;
}

#text-area {
  padding: 0.2rem 0.5rem;
  /* border: 1px solid var(--grey); */
  border-radius: 8px;
  height: 98%;
  width: 95%;
  font-size: 1.4rem;
  line-height: 1.3;
}

/* Change the default editable div:focus? */
/* textarea:focus { 
  outline: none;
  border: 1px solid var(--orange);;
} */

textarea {
  font-family: "Delius", sans-serif;
  resize: none;
}

#modal-container,
#detail-view-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
  background-color: rgba(33, 33, 33, 0.3);
}

#modal-content {
  border: 2px dashed var(--orange);
  border-radius: 8px;
  padding: 1.4rem;
  background-color: var(--white);
}

#canvas-container {
  position: absolute;
  left: 4%;
  bottom: 2%;
  width: 93%;
}

canvas {
  width: 100%;
  height: 9vh;
  height: 9dvh;
}

.list-page-main {
  height: 91vh;
  height: 91dvh;
  /* overflow: scroll; */
  max-width: 600px;
  margin: auto;
}

/* -- AUTHENTICATION PAGES -- */

.auth-form-container {
  height: 80vh;
  height: 80dvh;
  display: grid;
  place-items: center;
}

.auth-form {
  border: 1px solid var(--grey);
  border-radius: 8px;
  width: 95%;
  max-width: 390px;
  margin: auto;
  padding: 1.5% 2.5%;
  box-shadow: var(--subtle-box-shadow-2);
  position: relative;
}

.auth-form-fields {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.auth-form label {
  margin-top: 1rem;
}

.auth-form input {
  border: 1px solid var(--grey);
  border-radius: 6px;
  font-size: 1rem;
  padding: 4px;
  font-family: "Delius", sans-serif;
  box-shadow: var(--subtle-box-shadow-1);
}

.auth-form input:focus {
  /* border-color: var(--blue); */
}

.auth-form h2 {
  font-size: 2rem;
}

.auth-form-btn-container {
  display: grid;
  place-items: center;
  margin: 2rem 0 1rem 0;
}

.auth-form button {
  border: 1px solid var(--orange);
  border-radius: 8px;
  padding: 0.25rem 2rem;
  box-shadow: var(--subtle-box-shadow-2);
  color: black;
}

.auth-form button:hover {
  cursor: pointer;
  border: 1px dashed var(--orange);
}

/* -- FOOTER -- */

.characters {
  color: var(--grey);
  font-size: 1rem;
}

#ai-btn {
  position: absolute;
  bottom: 13vh;
  bottom: 13dvh;
  left: 5.5vw;
}

.toolbar {
  height: 9vh;
  height: 9dvh;
  border-top: 1px solid var(--grey);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.1rem;
  color: var(--blue);
}

.footer-left,
.footer-right {
  display: grid;
  place-items: center;
}

.btn-container,
#clear-btn,
#update-btn,
#cancel-btn,
.list-view-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue);
}

.btn-container:hover,
#clear-btn:hover,
#update-btn:hover,
#cancel-btn:hover,
#back-btn-modal:hover,
#edit-btn-modal:hover,
#delete-btn-modal:hover,
.list-view-btn-container:hover {
  cursor: pointer;
  color: #0b66c1;
}

#new-note-container:hover {
  cursor: pointer;
  color: #e77a0d;
  border-color: #e77a0d;
}

.list-page-item:hover {
  cursor: pointer;
  border-color: var(--black);
}

#microphone-container,
#new-note-container {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;
  bottom: 5vh;
  bottom: 5dvh;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  place-items: center;
  background-color: var(--white);
  box-shadow: var(--m3-elevation-light-2);
}

.recording-on {
  border: 1px solid var(--red);
  color: var(--red);
}

.recording-on:hover {
  cursor: pointer;
}

.recording-off {
  border: 1px solid var(--orange);
  color: var(--orange);
}

.recording-off:hover {
  cursor: pointer;
  border: 1px solid #e77a0d;
  color: #e77a0d;
}

/* -- LIST PAGE -- */

.list-page-item {
  margin: 3% 3% 0 3%;
  border: 1px solid var(--grey);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-colour-block {
  width: 0.62rem;
  margin-right: 0.3rem;
  border-radius: 7px 0 0 7px;
  z-index: -1;
  opacity: 0.75;
}

.item-text {
  overflow: hidden;
  width: 100%;
}

.list-page-item p {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  line-height: 1.5;
  height: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-page-item input[type="text"] {
  border-radius: 8px 0 0 8px;
  font-family: "Delius", sans-serif;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem 0.2rem 1.125rem;
  line-height: 1.5;
  height: 2.2rem;
  border: none;
}

.item-tools,
.crud-new-folder-btns,
.folder-options {
  display: grid;
  place-items: center;
  width: 2.3rem;
  color: var(--grey);
}

.new-folder-btn {
  display: grid;
  place-items: center;
  height: 6rem;
}

.crud-new-folder-btns {
  color: var(--orange);
  font-size: 1.2rem;
  border-radius: 0 7px 7px 0;
  border-left: 1px solid var(--grey);
}

#new-folder-cancel-btn {
  color: var(--grey);
}

.folder-toolbar {
  display: flex;
}

.folder-options-container {
  /* position: absolute;
  right: 2.8rem;
  display: flex;
  height: 2.3rem; */
}

/* delete from FolderList.js if not used */
.folder-options {
}

.notes-in-folder-dropdown {
  padding-left: var(--folder-dropdown-offset);
}

#detail-view-modal-container {
  display: none;
  backdrop-filter: blur(3px);
  background-color: rgb(226 223 223 / 80%);
  z-index: 999;
}

#detail-view-modal-content {
  border: 1px solid var(--grey);
  border-radius: 8px;
  background-color: var(--white);
  width: 94%;
  display: grid;
  grid-template-rows: 1fr 3rem;
}

#detail-view-modal-text {
  font-size: 1.2rem;
  padding: 1.5rem 1rem;
}

#detail-view-modal-tools-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--grey);
  padding: 0 1rem;
  font-size: 0.9rem;
}

#back-btn-modal,
#edit-btn-modal,
#delete-btn-modal,
#folder-btn-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue);
}

.add-note-to-folder-btn {
  display: grid;
  color: var(--orange);
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  line-height: 1.5;
  height: 2.2rem;
  align-content: center;
  justify-content: center;
  border-style: dashed;
}

.add-note-to-folder-btn svg {
  padding-right: 1.85rem;
}

/* PLACEHOLDER SVG */

.placeholder-svg {
  display: grid;
  place-items: center;
  height: 75vh;
  height: 75dvh;
}

.placeholder-svg svg {
  height: 100%;
  width: 100%;
  max-width: 600px;
  opacity: 0.6;
}

/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
  #main-container,
  header {
    margin: 0 8%;
  }

  .login-menu {
    right: 13vw;
  }

  #ai-btn {
    bottom: 12vh;
    bottom: 12dvh;
    right: 12vw;
  }

  .footer-left {
    margin-left: 16%;
  }

  .footer-right {
    margin-right: 16%;
  }

  #microphone-container,
  #new-note-container {
    bottom: 6vh;
    bottom: 6dvh;
  }

  #detail-view-modal-content {
    width: 78%;
  }
}

@media screen and (min-width: 1024px) {
  #main-container,
  header {
    margin: 0 15%;
  }

  .login-menu {
    right: 20vw;
  }

  .list-page-item {
    margin: 1.5rem auto 0 auto;
  }

  #detail-view-modal-content {
    max-width: 600px;
  }

  #ai-btn {
    right: 17.5vw;
  }

  .footer-left {
    margin-left: 30%;
  }

  .footer-right {
    margin-right: 30%;
  }
}
